<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

    <!-- member Section-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 mx-auto">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/hobbySoleh">Soleh</a>
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/hobby">Fadzli</a>
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/hobbynuar">Anuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects Section-->
    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Hobby</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Model Kit Building</h2>
                                    <p>Model kit building is a hobby that involves assembling and constructing scale models of various 
                                       subjects, such as airplanes, cars, ships, and figures. Enthusiasts typically work with 
                                       plastic or metal components, meticulously assembling and detailing each part to create 
                                       a realistic miniature replica. This hobby offers several benefits that can be advantageous 
                                       in programming. Firstly, it cultivates patience and attention to detail, essential qualities 
                                       for writing error-free and efficient code. The precision required in model kit building 
                                       translates well to the meticulous nature of debugging and refining code.</p>
                                </div>
                                <img src="../static/assets/hobby_Soleh1.jpeg" class="img-fluid mt-3"
                                     style="max-width: 300px; border-radius: 50%;">
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Reading</h2>
                                    <p>Reading is a versatile and enriching hobby that complements programming in various ways. 
                                       Beyond its inherent enjoyment, reading enhances language skills, broadens vocabulary, 
                                       and exposes individuals to diverse perspectives and ideas. These benefits contribute to effective 
                                       communication and the ability to express complex concepts in code. Moreover, the analytical thinking 
                                       and problem-solving skills developed through reading fiction or technical literature can be valuable 
                                       assets in the world of programming.</p>
                                </div>
                                <img src="../static/assets/hobby_Soleh2.jpeg" class="img-fluid mt-3"
                                     style="max-width: 300px; border-radius: 50%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section-->
    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/contact">Contact us</a>
            </div>
        </div>
    </section>
{% endblock %}
