<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <!-- member Content-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 mx-auto">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resume">Soleh</a>
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/portfolio">Fadzli</a>
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resumenuar">Anuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content-->
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Portfolio</span></h1>

            <img src="../static/assets/profile_Soleh.png" class="img-fluid mt-3"
                 style="max-width: 200px; border-radius: 50%;">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">MUHAMMAD SOLEH BIN AB MAJID</span>
            </h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">

                <!-- Contact Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Contact</h2>
                    </div>
                    <!-- Objective Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4 d-flex flex-column align-items-center">
                                        <div class="small text-muted">+6019 525 3994</div>
                                        <div class="small text-muted">muhdsolehabmajid@gmail.com</div>
                                        <div class="small text-muted">93C Lorong Alif, 06000 Jitra, Kedah</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Objective Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0 ">Objective</h2>
                    </div>
                    <!-- Objective Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4 d-flex flex-column align-items-center">
                                        <div class="small ">To gain experience in the field of data science and 
                                        utilize my skills to contribute to the effective use of data, 
                                        fostering improvements in various domains, including customer 
                                        experiences and overall growth
                                        </div>
                                        <div class="small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Experience Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    </div>
                    <!-- Experience Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2020 - 2021</div>
                                        <div class="small fw-bolder">Graphic Designer</div>
                                        <div class="small text-muted">Kedah, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        Internship in graphic design at Housing Department, 
                                        Pejabat Setiausaha Negeri Kedah. Tasked with designing promotional 
                                        materials that were pleasant for the eye of people from different range
                                        of age. The materials were posters and banners.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Experience Card 2-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2019 - 2020</div>
                                        <div class="small fw-bolder">Freelance Software Engineer</div>
                                        <div class="small text-muted">Kedah, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        Successfully completed diverse projects for various clients, demonstrating proficiency in technologies such 
                                        as Java and Python, showcasing problem-solving skills and adaptability. I collaborated effectively with clients, 
                                        managed project scopes, and maintained positive client relationships. My experience highlights a proven track record 
                                        of delivering work independently, and staying updated with industry trends.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Education Section-->
                <section>
                    <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                    <!-- Education Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2023 - Present</div>
                                        <div class="small fw-bolder">Universiti Utara Malaysia</div>
                                        <div class="small text-muted">Sintok, Kedah, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>Bachelor of Computer Science with Honors</div>
                                    <div>CGPA: 3.71</div>
                                    <div>Muet: Band 4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Education Card 2-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2019 - 2021</div>
                                        <div class="small fw-bolder">UiTM Kedah</div>
                                        <div class="small text-muted">Kedah, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>Diploma in Computer Science</div>
                                    <div>CGPA:3.75</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Divider-->
                <div class="pb-5"></div>
                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <i class="bi bi-tools"></i></div>
                                    <h3 class="fw-bolder mb-0"><span
                                            class="text-gradient d-inline">Professional Skills</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            Pattern Recognition
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Analytic
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            Web Development
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            Modeling Simulation
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            Graphic Design
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User
                                            UI/UX Design
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Languages list-->
                            <div class="mb-0">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <i class="bi bi-code-slash"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span>
                                    </h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Flutter</div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

