
{% extends "base.html" %}

{% block content %}
    <!-- member Content-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 mx-auto">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resumeSoleh">Soleh</a>
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/portfolio">Fadzli</a>
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/resumeNuar">Anuar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content-->
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Portfolio</span></h1>

            <img src="../static/assets/profile_Anuar.png" class="img-fluid mt-3"
                 style="max-width: 200px; border-radius: 50%;">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">ANUARUL IRFAN BIN MOHD SOFIAN</span>
            </h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">

                <!-- Contact Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Contact</h2>
                    </div>
                    <!-- Objective Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4 d-flex flex-column align-items-center">
                                        <div class="small text-muted">+6011 6219 9220</div>
                                        <div class="small text-muted">anuarulsofian@gmail.com</div>
                                        <div class="small text-muted">D'Sara Sentral,Jalan Welfare, Kampung Selamat, Seksyen U19, Sungai Buloh, Selangor</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Objective Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0 ">Objective</h2>
                    </div>
                    <!-- Objective Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4 d-flex flex-column align-items-center">
                                        <div class="small ">As a passionate and detail-oriented computer science graduates,
                                            I am eager to leverage my skills and knowledge in software development, algorithm design,
                                            and problem-solving to contribute to innovative projects. My goal is to secure a challenging
                                            position where I can further enhance my expertise, collaborate with dynamic teams, and make
                                            meaningful contributions to the ever-evolving field of technology. With a solid foundation
                                            in computer science principles and a commitment to continuous learning, I am excited to embark
                                            on a career that allows me to apply my creativity and technical skills to real-world challenges
                                            and overall organizational growth.
                                        </div>
                                        <div class="small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Experience Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    </div>
                    <!-- Experience Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2022 - Present</div>
                                        <div class="small fw-bolder">Data Analyst</div>
                                        <div class="small text-muted">Kuala Lumpur, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        I’m a seasoned freelance data analyst, transforming raw data into insights. Proficient in machine
                                        learning with Python and R, I’ve worked with diverse clients to enhance decision-making and implement
                                        predictive analytics. I create detailed reports and dashboards, aiming to improve business intelligence
                                        with precision and style.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Experience Card 2-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2022 - Present</div>
                                        <div class="small fw-bolder">Model-Based Systems Engineer</div>
                                        <div class="small text-muted">Kuala Lumpur, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        As an accomplished freelance Model-Based Systems Engineer, I excel in
                                        translating complex systems into sophisticated models that optimize operational
                                        efficiency. My expertise spans the realms of dynamic modeling, simulation, and systems
                                        analysis, incorporating a meticulous approach to detail. Proficient in utilizing tools
                                        like Python and R, I have collaborated with a diverse clientele, implementing
                                        model-based approaches to enhance decision-making processes and advance predictive
                                        analytics solutions. My track record includes crafting comprehensive system models,
                                        insightful reports, and interactive dashboards, providing clients with strategic insights for
                                        robust data-driven strategies. Bringing precision and style to every modeling and analytical endeavor,
                                        I am committed to elevating your systems engineering capabilities and fostering operational excellence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Education Section-->
                <section>
                    <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                    <!-- Education Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2023 - Present</div>
                                        <div class="small fw-bolder">Universiti Utara Malaysia</div>
                                        <div class="small text-muted">Sintok, Kedah, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>Bachelor of Computer Science with Honors</div>
                                    <div>CGPA: 3.60</div>
                                    <div>Muet: Band 4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Education Card 2-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2020 - 2021</div>
                                        <div class="small fw-bolder">JOHOR MATRICULATION COLLEGE</div>
                                        <div class="small text-muted">Johor, Malaysia</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>PROGRAMME: Computer</div>
                                    <div>SESSION: 2 SEMESTERS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Divider-->
                <div class="pb-5"></div>
                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <i class="bi bi-tools"></i></div>
                                    <h3 class="fw-bolder mb-0"><span
                                            class="text-gradient d-inline">Professional Skills</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Pattern
                                            Recognition
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Statistical
                                            Analysis
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web
                                            Development
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Modeling
                                            Simulation
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Software
                                            Testing
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User
                                            Interface
                                            Design
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Languages list-->
                            <div class="mb-0">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <i class="bi bi-code-slash"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span>
                                    </h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby</div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
